@model Department
@{
    Layout = "View";
}
    <form method="post">
        </br>
        
        <label asp-for="Name"></label><input asp-for="Name" class="btn" /> 
       
        <br />
        <label asp-for="Id"></label><input asp-for="Id" class="btn" /> 
     
        <input type="submit" value="Add Department" class="btn btn-info" />
    </form>



